@font-face {
  font-family: 'axcon';
  src:  url('axcon/axcon.eot?ld4y7l');
  src:  url('axcon/axcon.eot?ld4y7l#iefix') format('embedded-opentype'),
    url('axcon/axcon.ttf?ld4y7l') format('truetype'),
    url('axcon/axcon.woff?ld4y7l') format('woff'),
    url('axcon/axcon.svg?ld4y7l#axcon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'axcon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ax-home:before {
  content: "\e900";
}
.ax-home2:before {
  content: "\e901";
}
.ax-home3:before {
  content: "\e902";
}
.ax-office:before {
  content: "\e903";
}
.ax-newspaper:before {
  content: "\e904";
}
.ax-pencil:before {
  content: "\e905";
}
.ax-pencil2:before {
  content: "\e906";
}
.ax-quill:before {
  content: "\e907";
}
.ax-pen:before {
  content: "\e908";
}
.ax-blog:before {
  content: "\e909";
}
.ax-eyedropper:before {
  content: "\e90a";
}
.ax-droplet:before {
  content: "\e90b";
}
.ax-paint-format:before {
  content: "\e90c";
}
.ax-image:before {
  content: "\e90d";
}
.ax-images:before {
  content: "\e90e";
}
.ax-camera:before {
  content: "\e90f";
}
.ax-headphones:before {
  content: "\e910";
}
.ax-music:before {
  content: "\e911";
}
.ax-play:before {
  content: "\e912";
}
.ax-film:before {
  content: "\e913";
}
.ax-video-camera:before {
  content: "\e914";
}
.ax-dice:before {
  content: "\e915";
}
.ax-pacman:before {
  content: "\e916";
}
.ax-spades:before {
  content: "\e917";
}
.ax-clubs:before {
  content: "\e918";
}
.ax-diamonds:before {
  content: "\e919";
}
.ax-bullhorn:before {
  content: "\e91a";
}
.ax-connection:before {
  content: "\e91b";
}
.ax-podcast:before {
  content: "\e91c";
}
.ax-feed:before {
  content: "\e91d";
}
.ax-mic:before {
  content: "\e91e";
}
.ax-book:before {
  content: "\e91f";
}
.ax-books:before {
  content: "\e920";
}
.ax-library:before {
  content: "\e921";
}
.ax-file-text:before {
  content: "\e922";
}
.ax-profile:before {
  content: "\e923";
}
.ax-file-empty:before {
  content: "\e924";
}
.ax-files-empty:before {
  content: "\e925";
}
.ax-file-text2:before {
  content: "\e926";
}
.ax-file-picture:before {
  content: "\e927";
}
.ax-file-music:before {
  content: "\e928";
}
.ax-file-play:before {
  content: "\e929";
}
.ax-file-video:before {
  content: "\e92a";
}
.ax-file-zip:before {
  content: "\e92b";
}
.ax-copy:before {
  content: "\e92c";
}
.ax-paste:before {
  content: "\e92d";
}
.ax-stack:before {
  content: "\e92e";
}
.ax-folder:before {
  content: "\e92f";
}
.ax-folder-open:before {
  content: "\e930";
}
.ax-folder-plus:before {
  content: "\e931";
}
.ax-folder-minus:before {
  content: "\e932";
}
.ax-folder-download:before {
  content: "\e933";
}
.ax-folder-upload:before {
  content: "\e934";
}
.ax-price-tag:before {
  content: "\e935";
}
.ax-price-tags:before {
  content: "\e936";
}
.ax-barcode:before {
  content: "\e937";
}
.ax-qrcode:before {
  content: "\e938";
}
.ax-ticket:before {
  content: "\e939";
}
.ax-cart:before {
  content: "\e93a";
}
.ax-coin-dollar:before {
  content: "\e93b";
}
.ax-coin-euro:before {
  content: "\e93c";
}
.ax-coin-pound:before {
  content: "\e93d";
}
.ax-coin-yen:before {
  content: "\e93e";
}
.ax-credit-card:before {
  content: "\e93f";
}
.ax-calculator:before {
  content: "\e940";
}
.ax-lifebuoy:before {
  content: "\e941";
}
.ax-phone:before {
  content: "\e942";
}
.ax-phone-hang-up:before {
  content: "\e943";
}
.ax-address-book:before {
  content: "\e944";
}
.ax-envelop:before {
  content: "\e945";
}
.ax-pushpin:before {
  content: "\e946";
}
.ax-location:before {
  content: "\e947";
}
.ax-location2:before {
  content: "\e948";
}
.ax-compass:before {
  content: "\e949";
}
.ax-compass2:before {
  content: "\e94a";
}
.ax-map:before {
  content: "\e94b";
}
.ax-map2:before {
  content: "\e94c";
}
.ax-history:before {
  content: "\e94d";
}
.ax-clock:before {
  content: "\e94e";
}
.ax-clock2:before {
  content: "\e94f";
}
.ax-alarm:before {
  content: "\e950";
}
.ax-bell:before {
  content: "\e951";
}
.ax-stopwatch:before {
  content: "\e952";
}
.ax-calendar:before {
  content: "\e953";
}
.ax-printer:before {
  content: "\e954";
}
.ax-keyboard:before {
  content: "\e955";
}
.ax-display:before {
  content: "\e956";
}
.ax-laptop:before {
  content: "\e957";
}
.ax-mobile:before {
  content: "\e958";
}
.ax-mobile2:before {
  content: "\e959";
}
.ax-tablet:before {
  content: "\e95a";
}
.ax-tv:before {
  content: "\e95b";
}
.ax-drawer:before {
  content: "\e95c";
}
.ax-drawer2:before {
  content: "\e95d";
}
.ax-box-add:before {
  content: "\e95e";
}
.ax-box-remove:before {
  content: "\e95f";
}
.ax-download:before {
  content: "\e960";
}
.ax-upload:before {
  content: "\e961";
}
.ax-floppy-disk:before {
  content: "\e962";
}
.ax-drive:before {
  content: "\e963";
}
.ax-database:before {
  content: "\e964";
}
.ax-undo:before {
  content: "\e965";
}
.ax-redo:before {
  content: "\e966";
}
.ax-undo2:before {
  content: "\e967";
}
.ax-redo2:before {
  content: "\e968";
}
.ax-forward:before {
  content: "\e969";
}
.ax-reply:before {
  content: "\e96a";
}
.ax-bubble:before {
  content: "\e96b";
}
.ax-bubbles:before {
  content: "\e96c";
}
.ax-bubbles2:before {
  content: "\e96d";
}
.ax-bubble2:before {
  content: "\e96e";
}
.ax-bubbles3:before {
  content: "\e96f";
}
.ax-bubbles4:before {
  content: "\e970";
}
.ax-user:before {
  content: "\e971";
}
.ax-users:before {
  content: "\e972";
}
.ax-user-plus:before {
  content: "\e973";
}
.ax-user-minus:before {
  content: "\e974";
}
.ax-user-check:before {
  content: "\e975";
}
.ax-user-tie:before {
  content: "\e976";
}
.ax-quotes-left:before {
  content: "\e977";
}
.ax-quotes-right:before {
  content: "\e978";
}
.ax-hour-glass:before {
  content: "\e979";
}
.ax-spinner:before {
  content: "\e97a";
}
.ax-spinner2:before {
  content: "\e97b";
}
.ax-spinner3:before {
  content: "\e97c";
}
.ax-spinner4:before {
  content: "\e97d";
}
.ax-spinner5:before {
  content: "\e97e";
}
.ax-spinner6:before {
  content: "\e97f";
}
.ax-spinner7:before {
  content: "\e980";
}
.ax-spinner8:before {
  content: "\e981";
}
.ax-spinner9:before {
  content: "\e982";
}
.ax-spinner10:before {
  content: "\e983";
}
.ax-spinner11:before {
  content: "\e984";
}
.ax-binoculars:before {
  content: "\e985";
}
.ax-search:before {
  content: "\e986";
}
.ax-zoom-in:before {
  content: "\e987";
}
.ax-zoom-out:before {
  content: "\e988";
}
.ax-enlarge:before {
  content: "\e989";
}
.ax-shrink:before {
  content: "\e98a";
}
.ax-enlarge2:before {
  content: "\e98b";
}
.ax-shrink2:before {
  content: "\e98c";
}
.ax-key:before {
  content: "\e98d";
}
.ax-key2:before {
  content: "\e98e";
}
.ax-lock:before {
  content: "\e98f";
}
.ax-unlocked:before {
  content: "\e990";
}
.ax-wrench:before {
  content: "\e991";
}
.ax-equalizer:before {
  content: "\e992";
}
.ax-equalizer2:before {
  content: "\e993";
}
.ax-cog:before {
  content: "\e994";
}
.ax-cogs:before {
  content: "\e995";
}
.ax-hammer:before {
  content: "\e996";
}
.ax-magic-wand:before {
  content: "\e997";
}
.ax-aid-kit:before {
  content: "\e998";
}
.ax-bug:before {
  content: "\e999";
}
.ax-pie-chart:before {
  content: "\e99a";
}
.ax-stats-dots:before {
  content: "\e99b";
}
.ax-stats-bars:before {
  content: "\e99c";
}
.ax-stats-bars2:before {
  content: "\e99d";
}
.ax-trophy:before {
  content: "\e99e";
}
.ax-gift:before {
  content: "\e99f";
}
.ax-glass:before {
  content: "\e9a0";
}
.ax-glass2:before {
  content: "\e9a1";
}
.ax-mug:before {
  content: "\e9a2";
}
.ax-spoon-knife:before {
  content: "\e9a3";
}
.ax-leaf:before {
  content: "\e9a4";
}
.ax-rocket:before {
  content: "\e9a5";
}
.ax-meter:before {
  content: "\e9a6";
}
.ax-meter2:before {
  content: "\e9a7";
}
.ax-hammer2:before {
  content: "\e9a8";
}
.ax-fire:before {
  content: "\e9a9";
}
.ax-lab:before {
  content: "\e9aa";
}
.ax-magnet:before {
  content: "\e9ab";
}
.ax-bin:before {
  content: "\e9ac";
}
.ax-bin2:before {
  content: "\e9ad";
}
.ax-briefcase:before {
  content: "\e9ae";
}
.ax-airplane:before {
  content: "\e9af";
}
.ax-truck:before {
  content: "\e9b0";
}
.ax-road:before {
  content: "\e9b1";
}
.ax-accessibility:before {
  content: "\e9b2";
}
.ax-target:before {
  content: "\e9b3";
}
.ax-shield:before {
  content: "\e9b4";
}
.ax-power:before {
  content: "\e9b5";
}
.ax-switch:before {
  content: "\e9b6";
}
.ax-power-cord:before {
  content: "\e9b7";
}
.ax-clipboard:before {
  content: "\e9b8";
}
.ax-list-numbered:before {
  content: "\e9b9";
}
.ax-list:before {
  content: "\e9ba";
}
.ax-list2:before {
  content: "\e9bb";
}
.ax-tree:before {
  content: "\e9bc";
}
.ax-menu:before {
  content: "\e9bd";
}
.ax-menu2:before {
  content: "\e9be";
}
.ax-menu3:before {
  content: "\e9bf";
}
.ax-menu4:before {
  content: "\e9c0";
}
.ax-cloud:before {
  content: "\e9c1";
}
.ax-cloud-download:before {
  content: "\e9c2";
}
.ax-cloud-upload:before {
  content: "\e9c3";
}
.ax-cloud-check:before {
  content: "\e9c4";
}
.ax-download2:before {
  content: "\e9c5";
}
.ax-upload2:before {
  content: "\e9c6";
}
.ax-download3:before {
  content: "\e9c7";
}
.ax-upload3:before {
  content: "\e9c8";
}
.ax-sphere:before {
  content: "\e9c9";
}
.ax-earth:before {
  content: "\e9ca";
}
.ax-link:before {
  content: "\e9cb";
}
.ax-flag:before {
  content: "\e9cc";
}
.ax-attachment:before {
  content: "\e9cd";
}
.ax-eye:before {
  content: "\e9ce";
}
.ax-eye-plus:before {
  content: "\e9cf";
}
.ax-eye-minus:before {
  content: "\e9d0";
}
.ax-eye-blocked:before {
  content: "\e9d1";
}
.ax-bookmark:before {
  content: "\e9d2";
}
.ax-bookmarks:before {
  content: "\e9d3";
}
.ax-sun:before {
  content: "\e9d4";
}
.ax-contrast:before {
  content: "\e9d5";
}
.ax-brightness-contrast:before {
  content: "\e9d6";
}
.ax-star-empty:before {
  content: "\e9d7";
}
.ax-star-half:before {
  content: "\e9d8";
}
.ax-star-full:before {
  content: "\e9d9";
}
.ax-heart:before {
  content: "\e9da";
}
.ax-heart-broken:before {
  content: "\e9db";
}
.ax-man:before {
  content: "\e9dc";
}
.ax-woman:before {
  content: "\e9dd";
}
.ax-man-woman:before {
  content: "\e9de";
}
.ax-happy:before {
  content: "\e9df";
}
.ax-happy2:before {
  content: "\e9e0";
}
.ax-smile:before {
  content: "\e9e1";
}
.ax-smile2:before {
  content: "\e9e2";
}
.ax-tongue:before {
  content: "\e9e3";
}
.ax-tongue2:before {
  content: "\e9e4";
}
.ax-sad:before {
  content: "\e9e5";
}
.ax-sad2:before {
  content: "\e9e6";
}
.ax-wink:before {
  content: "\e9e7";
}
.ax-wink2:before {
  content: "\e9e8";
}
.ax-grin:before {
  content: "\e9e9";
}
.ax-grin2:before {
  content: "\e9ea";
}
.ax-cool:before {
  content: "\e9eb";
}
.ax-cool2:before {
  content: "\e9ec";
}
.ax-angry:before {
  content: "\e9ed";
}
.ax-angry2:before {
  content: "\e9ee";
}
.ax-evil:before {
  content: "\e9ef";
}
.ax-evil2:before {
  content: "\e9f0";
}
.ax-shocked:before {
  content: "\e9f1";
}
.ax-shocked2:before {
  content: "\e9f2";
}
.ax-baffled:before {
  content: "\e9f3";
}
.ax-baffled2:before {
  content: "\e9f4";
}
.ax-confused:before {
  content: "\e9f5";
}
.ax-confused2:before {
  content: "\e9f6";
}
.ax-neutral:before {
  content: "\e9f7";
}
.ax-neutral2:before {
  content: "\e9f8";
}
.ax-hipster:before {
  content: "\e9f9";
}
.ax-hipster2:before {
  content: "\e9fa";
}
.ax-wondering:before {
  content: "\e9fb";
}
.ax-wondering2:before {
  content: "\e9fc";
}
.ax-sleepy:before {
  content: "\e9fd";
}
.ax-sleepy2:before {
  content: "\e9fe";
}
.ax-frustrated:before {
  content: "\e9ff";
}
.ax-frustrated2:before {
  content: "\ea00";
}
.ax-crying:before {
  content: "\ea01";
}
.ax-crying2:before {
  content: "\ea02";
}
.ax-point-up:before {
  content: "\ea03";
}
.ax-point-right:before {
  content: "\ea04";
}
.ax-point-down:before {
  content: "\ea05";
}
.ax-point-left:before {
  content: "\ea06";
}
.ax-warning:before {
  content: "\ea07";
}
.ax-notification:before {
  content: "\ea08";
}
.ax-question:before {
  content: "\ea09";
}
.ax-plus:before {
  content: "\ea0a";
}
.ax-minus:before {
  content: "\ea0b";
}
.ax-info:before {
  content: "\ea0c";
}
.ax-cancel-circle:before {
  content: "\ea0d";
}
.ax-blocked:before {
  content: "\ea0e";
}
.ax-cross:before {
  content: "\ea0f";
}
.ax-checkmark:before {
  content: "\ea10";
}
.ax-checkmark2:before {
  content: "\ea11";
}
.ax-spell-check:before {
  content: "\ea12";
}
.ax-enter:before {
  content: "\ea13";
}
.ax-exit:before {
  content: "\ea14";
}
.ax-play2:before {
  content: "\ea15";
}
.ax-pause:before {
  content: "\ea16";
}
.ax-stop:before {
  content: "\ea17";
}
.ax-previous:before {
  content: "\ea18";
}
.ax-next:before {
  content: "\ea19";
}
.ax-backward:before {
  content: "\ea1a";
}
.ax-forward2:before {
  content: "\ea1b";
}
.ax-play3:before {
  content: "\ea1c";
}
.ax-pause2:before {
  content: "\ea1d";
}
.ax-stop2:before {
  content: "\ea1e";
}
.ax-backward2:before {
  content: "\ea1f";
}
.ax-forward3:before {
  content: "\ea20";
}
.ax-first:before {
  content: "\ea21";
}
.ax-last:before {
  content: "\ea22";
}
.ax-previous2:before {
  content: "\ea23";
}
.ax-next2:before {
  content: "\ea24";
}
.ax-eject:before {
  content: "\ea25";
}
.ax-volume-high:before {
  content: "\ea26";
}
.ax-volume-medium:before {
  content: "\ea27";
}
.ax-volume-low:before {
  content: "\ea28";
}
.ax-volume-mute:before {
  content: "\ea29";
}
.ax-volume-mute2:before {
  content: "\ea2a";
}
.ax-volume-increase:before {
  content: "\ea2b";
}
.ax-volume-decrease:before {
  content: "\ea2c";
}
.ax-loop:before {
  content: "\ea2d";
}
.ax-loop2:before {
  content: "\ea2e";
}
.ax-infinite:before {
  content: "\ea2f";
}
.ax-shuffle:before {
  content: "\ea30";
}
.ax-arrow-up-left:before {
  content: "\ea31";
}
.ax-arrow-up:before {
  content: "\ea32";
}
.ax-arrow-up-right:before {
  content: "\ea33";
}
.ax-arrow-right:before {
  content: "\ea34";
}
.ax-arrow-down-right:before {
  content: "\ea35";
}
.ax-arrow-down:before {
  content: "\ea36";
}
.ax-arrow-down-left:before {
  content: "\ea37";
}
.ax-arrow-left:before {
  content: "\ea38";
}
.ax-arrow-up-left2:before {
  content: "\ea39";
}
.ax-arrow-up2:before {
  content: "\ea3a";
}
.ax-arrow-up-right2:before {
  content: "\ea3b";
}
.ax-arrow-right2:before {
  content: "\ea3c";
}
.ax-arrow-down-right2:before {
  content: "\ea3d";
}
.ax-arrow-down2:before {
  content: "\ea3e";
}
.ax-arrow-down-left2:before {
  content: "\ea3f";
}
.ax-arrow-left2:before {
  content: "\ea40";
}
.ax-circle-up:before {
  content: "\ea41";
}
.ax-circle-right:before {
  content: "\ea42";
}
.ax-circle-down:before {
  content: "\ea43";
}
.ax-circle-left:before {
  content: "\ea44";
}
.ax-tab:before {
  content: "\ea45";
}
.ax-move-up:before {
  content: "\ea46";
}
.ax-move-down:before {
  content: "\ea47";
}
.ax-sort-alpha-asc:before {
  content: "\ea48";
}
.ax-sort-alpha-desc:before {
  content: "\ea49";
}
.ax-sort-numeric-asc:before {
  content: "\ea4a";
}
.ax-sort-numberic-desc:before {
  content: "\ea4b";
}
.ax-sort-amount-asc:before {
  content: "\ea4c";
}
.ax-sort-amount-desc:before {
  content: "\ea4d";
}
.ax-command:before {
  content: "\ea4e";
}
.ax-shift:before {
  content: "\ea4f";
}
.ax-ctrl:before {
  content: "\ea50";
}
.ax-opt:before {
  content: "\ea51";
}
.ax-checkbox-checked:before {
  content: "\ea52";
}
.ax-checkbox-unchecked:before {
  content: "\ea53";
}
.ax-radio-checked:before {
  content: "\ea54";
}
.ax-radio-checked2:before {
  content: "\ea55";
}
.ax-radio-unchecked:before {
  content: "\ea56";
}
.ax-crop:before {
  content: "\ea57";
}
.ax-make-group:before {
  content: "\ea58";
}
.ax-ungroup:before {
  content: "\ea59";
}
.ax-scissors:before {
  content: "\ea5a";
}
.ax-filter:before {
  content: "\ea5b";
}
.ax-font:before {
  content: "\ea5c";
}
.ax-ligature:before {
  content: "\ea5d";
}
.ax-ligature2:before {
  content: "\ea5e";
}
.ax-text-height:before {
  content: "\ea5f";
}
.ax-text-width:before {
  content: "\ea60";
}
.ax-font-size:before {
  content: "\ea61";
}
.ax-bold:before {
  content: "\ea62";
}
.ax-underline:before {
  content: "\ea63";
}
.ax-italic:before {
  content: "\ea64";
}
.ax-strikethrough:before {
  content: "\ea65";
}
.ax-omega:before {
  content: "\ea66";
}
.ax-sigma:before {
  content: "\ea67";
}
.ax-page-break:before {
  content: "\ea68";
}
.ax-superscript:before {
  content: "\ea69";
}
.ax-subscript:before {
  content: "\ea6a";
}
.ax-superscript2:before {
  content: "\ea6b";
}
.ax-subscript2:before {
  content: "\ea6c";
}
.ax-text-color:before {
  content: "\ea6d";
}
.ax-pagebreak:before {
  content: "\ea6e";
}
.ax-clear-formatting:before {
  content: "\ea6f";
}
.ax-table:before {
  content: "\ea70";
}
.ax-table2:before {
  content: "\ea71";
}
.ax-insert-template:before {
  content: "\ea72";
}
.ax-pilcrow:before {
  content: "\ea73";
}
.ax-ltr:before {
  content: "\ea74";
}
.ax-rtl:before {
  content: "\ea75";
}
.ax-section:before {
  content: "\ea76";
}
.ax-paragraph-left:before {
  content: "\ea77";
}
.ax-paragraph-center:before {
  content: "\ea78";
}
.ax-paragraph-right:before {
  content: "\ea79";
}
.ax-paragraph-justify:before {
  content: "\ea7a";
}
.ax-indent-increase:before {
  content: "\ea7b";
}
.ax-indent-decrease:before {
  content: "\ea7c";
}
.ax-share:before {
  content: "\ea7d";
}
.ax-new-tab:before {
  content: "\ea7e";
}
.ax-embed:before {
  content: "\ea7f";
}
.ax-embed2:before {
  content: "\ea80";
}
.ax-terminal:before {
  content: "\ea81";
}
.ax-share2:before {
  content: "\ea82";
}
.ax-mail:before {
  content: "\ea83";
}
.ax-mail2:before {
  content: "\ea84";
}
.ax-mail3:before {
  content: "\ea85";
}
.ax-mail4:before {
  content: "\ea86";
}
.ax-amazon:before {
  content: "\ea87";
}
.ax-google:before {
  content: "\ea88";
}
.ax-google2:before {
  content: "\ea89";
}
.ax-google3:before {
  content: "\ea8a";
}
.ax-google-plus:before {
  content: "\ea8b";
}
.ax-google-plus2:before {
  content: "\ea8c";
}
.ax-google-plus3:before {
  content: "\ea8d";
}
.ax-hangouts:before {
  content: "\ea8e";
}
.ax-google-drive:before {
  content: "\ea8f";
}
.ax-facebook:before {
  content: "\ea90";
}
.ax-facebook2:before {
  content: "\ea91";
}
.ax-instagram:before {
  content: "\ea92";
}
.ax-whatsapp:before {
  content: "\ea93";
}
.ax-spotify:before {
  content: "\ea94";
}
.ax-telegram:before {
  content: "\ea95";
}
.ax-twitter:before {
  content: "\ea96";
}
.ax-vine:before {
  content: "\ea97";
}
.ax-vk:before {
  content: "\ea98";
}
.ax-renren:before {
  content: "\ea99";
}
.ax-sina-weibo:before {
  content: "\ea9a";
}
.ax-rss:before {
  content: "\ea9b";
}
.ax-rss2:before {
  content: "\ea9c";
}
.ax-youtube:before {
  content: "\ea9d";
}
.ax-youtube2:before {
  content: "\ea9e";
}
.ax-twitch:before {
  content: "\ea9f";
}
.ax-vimeo:before {
  content: "\eaa0";
}
.ax-vimeo2:before {
  content: "\eaa1";
}
.ax-lanyrd:before {
  content: "\eaa2";
}
.ax-flickr:before {
  content: "\eaa3";
}
.ax-flickr2:before {
  content: "\eaa4";
}
.ax-flickr3:before {
  content: "\eaa5";
}
.ax-flickr4:before {
  content: "\eaa6";
}
.ax-dribbble:before {
  content: "\eaa7";
}
.ax-behance:before {
  content: "\eaa8";
}
.ax-behance2:before {
  content: "\eaa9";
}
.ax-deviantart:before {
  content: "\eaaa";
}
.ax-500px:before {
  content: "\eaab";
}
.ax-steam:before {
  content: "\eaac";
}
.ax-steam2:before {
  content: "\eaad";
}
.ax-dropbox:before {
  content: "\eaae";
}
.ax-onedrive:before {
  content: "\eaaf";
}
.ax-github:before {
  content: "\eab0";
}
.ax-npm:before {
  content: "\eab1";
}
.ax-basecamp:before {
  content: "\eab2";
}
.ax-trello:before {
  content: "\eab3";
}
.ax-wordpress:before {
  content: "\eab4";
}
.ax-joomla:before {
  content: "\eab5";
}
.ax-ello:before {
  content: "\eab6";
}
.ax-blogger:before {
  content: "\eab7";
}
.ax-blogger2:before {
  content: "\eab8";
}
.ax-tumblr:before {
  content: "\eab9";
}
.ax-tumblr2:before {
  content: "\eaba";
}
.ax-yahoo:before {
  content: "\eabb";
}
.ax-yahoo2:before {
  content: "\eabc";
}
.ax-tux:before {
  content: "\eabd";
}
.ax-appleinc:before {
  content: "\eabe";
}
.ax-finder:before {
  content: "\eabf";
}
.ax-android:before {
  content: "\eac0";
}
.ax-windows:before {
  content: "\eac1";
}
.ax-windows8:before {
  content: "\eac2";
}
.ax-soundcloud:before {
  content: "\eac3";
}
.ax-soundcloud2:before {
  content: "\eac4";
}
.ax-skype:before {
  content: "\eac5";
}
.ax-reddit:before {
  content: "\eac6";
}
.ax-hackernews:before {
  content: "\eac7";
}
.ax-wikipedia:before {
  content: "\eac8";
}
.ax-linkedin:before {
  content: "\eac9";
}
.ax-linkedin2:before {
  content: "\eaca";
}
.ax-lastfm:before {
  content: "\eacb";
}
.ax-lastfm2:before {
  content: "\eacc";
}
.ax-delicious:before {
  content: "\eacd";
}
.ax-stumbleupon:before {
  content: "\eace";
}
.ax-stumbleupon2:before {
  content: "\eacf";
}
.ax-stackoverflow:before {
  content: "\ead0";
}
.ax-pinterest:before {
  content: "\ead1";
}
.ax-pinterest2:before {
  content: "\ead2";
}
.ax-xing:before {
  content: "\ead3";
}
.ax-xing2:before {
  content: "\ead4";
}
.ax-flattr:before {
  content: "\ead5";
}
.ax-foursquare:before {
  content: "\ead6";
}
.ax-yelp:before {
  content: "\ead7";
}
.ax-paypal:before {
  content: "\ead8";
}
.ax-chrome:before {
  content: "\ead9";
}
.ax-firefox:before {
  content: "\eada";
}
.ax-IE:before {
  content: "\eadb";
}
.ax-edge:before {
  content: "\eadc";
}
.ax-safari:before {
  content: "\eadd";
}
.ax-opera:before {
  content: "\eade";
}
.ax-file-pdf:before {
  content: "\eadf";
}
.ax-file-openoffice:before {
  content: "\eae0";
}
.ax-file-word:before {
  content: "\eae1";
}
.ax-file-excel:before {
  content: "\eae2";
}
.ax-libreoffice:before {
  content: "\eae3";
}
.ax-html-five:before {
  content: "\eae4";
}
.ax-html-five2:before {
  content: "\eae5";
}
.ax-css3:before {
  content: "\eae6";
}
.ax-git:before {
  content: "\eae7";
}
.ax-codepen:before {
  content: "\eae8";
}
.ax-svg:before {
  content: "\eae9";
}
.ax-IcoMoon:before {
  content: "\eaea";
}