@font-face {
  font-family: 'axcon';
  src:  url('axcon/axcon.eot?7ko0rc');
  src:  url('axcon/axcon.eot?7ko0rc#iefix') format('embedded-opentype'),
    url('axcon/axcon.ttf?7ko0rc') format('truetype'),
    url('axcon/axcon.woff?7ko0rc') format('woff'),
    url('axcon/axcon.svg?7ko0rc#axcon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'axcon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ax-homeax:before {
  content: "\e900";
}
.ax-home2ax:before {
  content: "\e901";
}
.ax-home3ax:before {
  content: "\e902";
}
.ax-officeax:before {
  content: "\e903";
}
.ax-newspaperax:before {
  content: "\e904";
}
.ax-pencilax:before {
  content: "\e905";
}
.ax-pencil2ax:before {
  content: "\e906";
}
.ax-quillax:before {
  content: "\e907";
}
.ax-penax:before {
  content: "\e908";
}
.ax-blogax:before {
  content: "\e909";
}
.ax-eyedropperax:before {
  content: "\e90a";
}
.ax-dropletax:before {
  content: "\e90b";
}
.ax-paint-formatax:before {
  content: "\e90c";
}
.ax-imageax:before {
  content: "\e90d";
}
.ax-imagesax:before {
  content: "\e90e";
}
.ax-cameraax:before {
  content: "\e90f";
}
.ax-headphonesax:before {
  content: "\e910";
}
.ax-musicax:before {
  content: "\e911";
}
.ax-playax:before {
  content: "\e912";
}
.ax-filmax:before {
  content: "\e913";
}
.ax-video-cameraax:before {
  content: "\e914";
}
.ax-diceax:before {
  content: "\e915";
}
.ax-pacmanax:before {
  content: "\e916";
}
.ax-spadesax:before {
  content: "\e917";
}
.ax-clubsax:before {
  content: "\e918";
}
.ax-diamondsax:before {
  content: "\e919";
}
.ax-bullhornax:before {
  content: "\e91a";
}
.ax-connectionax:before {
  content: "\e91b";
}
.ax-podcastax:before {
  content: "\e91c";
}
.ax-feedax:before {
  content: "\e91d";
}
.ax-micax:before {
  content: "\e91e";
}
.ax-bookax:before {
  content: "\e91f";
}
.ax-booksax:before {
  content: "\e920";
}
.ax-libraryax:before {
  content: "\e921";
}
.ax-file-textax:before {
  content: "\e922";
}
.ax-profileax:before {
  content: "\e923";
}
.ax-file-emptyax:before {
  content: "\e924";
}
.ax-files-emptyax:before {
  content: "\e925";
}
.ax-file-text2ax:before {
  content: "\e926";
}
.ax-file-pictureax:before {
  content: "\e927";
}
.ax-file-musicax:before {
  content: "\e928";
}
.ax-file-playax:before {
  content: "\e929";
}
.ax-file-videoax:before {
  content: "\e92a";
}
.ax-file-zipax:before {
  content: "\e92b";
}
.ax-copyax:before {
  content: "\e92c";
}
.ax-pasteax:before {
  content: "\e92d";
}
.ax-stackax:before {
  content: "\e92e";
}
.ax-folderax:before {
  content: "\e92f";
}
.ax-folder-openax:before {
  content: "\e930";
}
.ax-folder-plusax:before {
  content: "\e931";
}
.ax-folder-minusax:before {
  content: "\e932";
}
.ax-folder-downloadax:before {
  content: "\e933";
}
.ax-folder-uploadax:before {
  content: "\e934";
}
.ax-price-tagax:before {
  content: "\e935";
}
.ax-price-tagsax:before {
  content: "\e936";
}
.ax-barcodeax:before {
  content: "\e937";
}
.ax-qrcodeax:before {
  content: "\e938";
}
.ax-ticketax:before {
  content: "\e939";
}
.ax-cartax:before {
  content: "\e93a";
}
.ax-coin-dollarax:before {
  content: "\e93b";
}
.ax-coin-euroax:before {
  content: "\e93c";
}
.ax-coin-poundax:before {
  content: "\e93d";
}
.ax-coin-yenax:before {
  content: "\e93e";
}
.ax-credit-cardax:before {
  content: "\e93f";
}
.ax-calculatorax:before {
  content: "\e940";
}
.ax-lifebuoyax:before {
  content: "\e941";
}
.ax-phoneax:before {
  content: "\e942";
}
.ax-phone-hang-upax:before {
  content: "\e943";
}
.ax-address-bookax:before {
  content: "\e944";
}
.ax-envelopax:before {
  content: "\e945";
}
.ax-pushpinax:before {
  content: "\e946";
}
.ax-locationax:before {
  content: "\e947";
}
.ax-location2ax:before {
  content: "\e948";
}
.ax-compassax:before {
  content: "\e949";
}
.ax-compass2ax:before {
  content: "\e94a";
}
.ax-mapax:before {
  content: "\e94b";
}
.ax-map2ax:before {
  content: "\e94c";
}
.ax-historyax:before {
  content: "\e94d";
}
.ax-clockax:before {
  content: "\e94e";
}
.ax-clock2ax:before {
  content: "\e94f";
}
.ax-alarmax:before {
  content: "\e950";
}
.ax-bellax:before {
  content: "\e951";
}
.ax-stopwatchax:before {
  content: "\e952";
}
.ax-calendarax:before {
  content: "\e953";
}
.ax-printerax:before {
  content: "\e954";
}
.ax-keyboardax:before {
  content: "\e955";
}
.ax-displayax:before {
  content: "\e956";
}
.ax-laptopax:before {
  content: "\e957";
}
.ax-mobileax:before {
  content: "\e958";
}
.ax-mobile2ax:before {
  content: "\e959";
}
.ax-tabletax:before {
  content: "\e95a";
}
.ax-tvax:before {
  content: "\e95b";
}
.ax-drawerax:before {
  content: "\e95c";
}
.ax-drawer2ax:before {
  content: "\e95d";
}
.ax-box-addax:before {
  content: "\e95e";
}
.ax-box-removeax:before {
  content: "\e95f";
}
.ax-downloadax:before {
  content: "\e960";
}
.ax-uploadax:before {
  content: "\e961";
}
.ax-floppy-diskax:before {
  content: "\e962";
}
.ax-driveax:before {
  content: "\e963";
}
.ax-databaseax:before {
  content: "\e964";
}
.ax-undoax:before {
  content: "\e965";
}
.ax-redoax:before {
  content: "\e966";
}
.ax-undo2ax:before {
  content: "\e967";
}
.ax-redo2ax:before {
  content: "\e968";
}
.ax-forwardax:before {
  content: "\e969";
}
.ax-replyax:before {
  content: "\e96a";
}
.ax-bubbleax:before {
  content: "\e96b";
}
.ax-bubblesax:before {
  content: "\e96c";
}
.ax-bubbles2ax:before {
  content: "\e96d";
}
.ax-bubble2ax:before {
  content: "\e96e";
}
.ax-bubbles3ax:before {
  content: "\e96f";
}
.ax-bubbles4ax:before {
  content: "\e970";
}
.ax-userax:before {
  content: "\e971";
}
.ax-usersax:before {
  content: "\e972";
}
.ax-user-plusax:before {
  content: "\e973";
}
.ax-user-minusax:before {
  content: "\e974";
}
.ax-user-checkax:before {
  content: "\e975";
}
.ax-user-tieax:before {
  content: "\e976";
}
.ax-quotes-leftax:before {
  content: "\e977";
}
.ax-quotes-rightax:before {
  content: "\e978";
}
.ax-hour-glassax:before {
  content: "\e979";
}
.ax-spinnerax:before {
  content: "\e97a";
}
.ax-spinner2ax:before {
  content: "\e97b";
}
.ax-spinner3ax:before {
  content: "\e97c";
}
.ax-spinner4ax:before {
  content: "\e97d";
}
.ax-spinner5ax:before {
  content: "\e97e";
}
.ax-spinner6ax:before {
  content: "\e97f";
}
.ax-spinner7ax:before {
  content: "\e980";
}
.ax-spinner8ax:before {
  content: "\e981";
}
.ax-spinner9ax:before {
  content: "\e982";
}
.ax-spinner10ax:before {
  content: "\e983";
}
.ax-spinner11ax:before {
  content: "\e984";
}
.ax-binocularsax:before {
  content: "\e985";
}
.ax-searchax:before {
  content: "\e986";
}
.ax-zoom-inax:before {
  content: "\e987";
}
.ax-zoom-outax:before {
  content: "\e988";
}
.ax-enlargeax:before {
  content: "\e989";
}
.ax-shrinkax:before {
  content: "\e98a";
}
.ax-enlarge2ax:before {
  content: "\e98b";
}
.ax-shrink2ax:before {
  content: "\e98c";
}
.ax-keyax:before {
  content: "\e98d";
}
.ax-key2ax:before {
  content: "\e98e";
}
.ax-lockax:before {
  content: "\e98f";
}
.ax-unlockedax:before {
  content: "\e990";
}
.ax-wrenchax:before {
  content: "\e991";
}
.ax-equalizerax:before {
  content: "\e992";
}
.ax-equalizer2ax:before {
  content: "\e993";
}
.ax-cogax:before {
  content: "\e994";
}
.ax-cogsax:before {
  content: "\e995";
}
.ax-hammerax:before {
  content: "\e996";
}
.ax-magic-wandax:before {
  content: "\e997";
}
.ax-aid-kitax:before {
  content: "\e998";
}
.ax-bugax:before {
  content: "\e999";
}
.ax-pie-chartax:before {
  content: "\e99a";
}
.ax-stats-dotsax:before {
  content: "\e99b";
}
.ax-stats-barsax:before {
  content: "\e99c";
}
.ax-stats-bars2ax:before {
  content: "\e99d";
}
.ax-trophyax:before {
  content: "\e99e";
}
.ax-giftax:before {
  content: "\e99f";
}
.ax-glassax:before {
  content: "\e9a0";
}
.ax-glass2ax:before {
  content: "\e9a1";
}
.ax-mugax:before {
  content: "\e9a2";
}
.ax-spoon-knifeax:before {
  content: "\e9a3";
}
.ax-leafax:before {
  content: "\e9a4";
}
.ax-rocketax:before {
  content: "\e9a5";
}
.ax-meterax:before {
  content: "\e9a6";
}
.ax-meter2ax:before {
  content: "\e9a7";
}
.ax-hammer2ax:before {
  content: "\e9a8";
}
.ax-fireax:before {
  content: "\e9a9";
}
.ax-labax:before {
  content: "\e9aa";
}
.ax-magnetax:before {
  content: "\e9ab";
}
.ax-binax:before {
  content: "\e9ac";
}
.ax-bin2ax:before {
  content: "\e9ad";
}
.ax-briefcaseax:before {
  content: "\e9ae";
}
.ax-airplaneax:before {
  content: "\e9af";
}
.ax-truckax:before {
  content: "\e9b0";
}
.ax-roadax:before {
  content: "\e9b1";
}
.ax-accessibilityax:before {
  content: "\e9b2";
}
.ax-targetax:before {
  content: "\e9b3";
}
.ax-shieldax:before {
  content: "\e9b4";
}
.ax-powerax:before {
  content: "\e9b5";
}
.ax-switchax:before {
  content: "\e9b6";
}
.ax-power-cordax:before {
  content: "\e9b7";
}
.ax-clipboardax:before {
  content: "\e9b8";
}
.ax-list-numberedax:before {
  content: "\e9b9";
}
.ax-listax:before {
  content: "\e9ba";
}
.ax-list2ax:before {
  content: "\e9bb";
}
.ax-treeax:before {
  content: "\e9bc";
}
.ax-menuax:before {
  content: "\e9bd";
}
.ax-menu2ax:before {
  content: "\e9be";
}
.ax-menu3ax:before {
  content: "\e9bf";
}
.ax-menu4ax:before {
  content: "\e9c0";
}
.ax-cloudax:before {
  content: "\e9c1";
}
.ax-cloud-downloadax:before {
  content: "\e9c2";
}
.ax-cloud-uploadax:before {
  content: "\e9c3";
}
.ax-cloud-checkax:before {
  content: "\e9c4";
}
.ax-download2ax:before {
  content: "\e9c5";
}
.ax-upload2ax:before {
  content: "\e9c6";
}
.ax-download3ax:before {
  content: "\e9c7";
}
.ax-upload3ax:before {
  content: "\e9c8";
}
.ax-sphereax:before {
  content: "\e9c9";
}
.ax-earthax:before {
  content: "\e9ca";
}
.ax-linkax:before {
  content: "\e9cb";
}
.ax-flagax:before {
  content: "\e9cc";
}
.ax-attachmentax:before {
  content: "\e9cd";
}
.ax-eyeax:before {
  content: "\e9ce";
}
.ax-eye-plusax:before {
  content: "\e9cf";
}
.ax-eye-minusax:before {
  content: "\e9d0";
}
.ax-eye-blockedax:before {
  content: "\e9d1";
}
.ax-bookmarkax:before {
  content: "\e9d2";
}
.ax-bookmarksax:before {
  content: "\e9d3";
}
.ax-sunax:before {
  content: "\e9d4";
}
.ax-contrastax:before {
  content: "\e9d5";
}
.ax-brightness-contrastax:before {
  content: "\e9d6";
}
.ax-star-emptyax:before {
  content: "\e9d7";
}
.ax-star-halfax:before {
  content: "\e9d8";
}
.ax-star-fullax:before {
  content: "\e9d9";
}
.ax-heartax:before {
  content: "\e9da";
}
.ax-heart-brokenax:before {
  content: "\e9db";
}
.ax-manax:before {
  content: "\e9dc";
}
.ax-womanax:before {
  content: "\e9dd";
}
.ax-man-womanax:before {
  content: "\e9de";
}
.ax-happyax:before {
  content: "\e9df";
}
.ax-happy2ax:before {
  content: "\e9e0";
}
.ax-smileax:before {
  content: "\e9e1";
}
.ax-smile2ax:before {
  content: "\e9e2";
}
.ax-tongueax:before {
  content: "\e9e3";
}
.ax-tongue2ax:before {
  content: "\e9e4";
}
.ax-sadax:before {
  content: "\e9e5";
}
.ax-sad2ax:before {
  content: "\e9e6";
}
.ax-winkax:before {
  content: "\e9e7";
}
.ax-wink2ax:before {
  content: "\e9e8";
}
.ax-grinax:before {
  content: "\e9e9";
}
.ax-grin2ax:before {
  content: "\e9ea";
}
.ax-coolax:before {
  content: "\e9eb";
}
.ax-cool2ax:before {
  content: "\e9ec";
}
.ax-angryax:before {
  content: "\e9ed";
}
.ax-angry2ax:before {
  content: "\e9ee";
}
.ax-evilax:before {
  content: "\e9ef";
}
.ax-evil2ax:before {
  content: "\e9f0";
}
.ax-shockedax:before {
  content: "\e9f1";
}
.ax-shocked2ax:before {
  content: "\e9f2";
}
.ax-baffledax:before {
  content: "\e9f3";
}
.ax-baffled2ax:before {
  content: "\e9f4";
}
.ax-confusedax:before {
  content: "\e9f5";
}
.ax-confused2ax:before {
  content: "\e9f6";
}
.ax-neutralax:before {
  content: "\e9f7";
}
.ax-neutral2ax:before {
  content: "\e9f8";
}
.ax-hipsterax:before {
  content: "\e9f9";
}
.ax-hipster2ax:before {
  content: "\e9fa";
}
.ax-wonderingax:before {
  content: "\e9fb";
}
.ax-wondering2ax:before {
  content: "\e9fc";
}
.ax-sleepyax:before {
  content: "\e9fd";
}
.ax-sleepy2ax:before {
  content: "\e9fe";
}
.ax-frustratedax:before {
  content: "\e9ff";
}
.ax-frustrated2ax:before {
  content: "\ea00";
}
.ax-cryingax:before {
  content: "\ea01";
}
.ax-crying2ax:before {
  content: "\ea02";
}
.ax-point-upax:before {
  content: "\ea03";
}
.ax-point-rightax:before {
  content: "\ea04";
}
.ax-point-downax:before {
  content: "\ea05";
}
.ax-point-leftax:before {
  content: "\ea06";
}
.ax-warningax:before {
  content: "\ea07";
}
.ax-notificationax:before {
  content: "\ea08";
}
.ax-questionax:before {
  content: "\ea09";
}
.ax-plusax:before {
  content: "\ea0a";
}
.ax-minusax:before {
  content: "\ea0b";
}
.ax-infoax:before {
  content: "\ea0c";
}
.ax-cancel-circleax:before {
  content: "\ea0d";
}
.ax-blockedax:before {
  content: "\ea0e";
}
.ax-crossax:before {
  content: "\ea0f";
}
.ax-checkmarkax:before {
  content: "\ea10";
}
.ax-checkmark2ax:before {
  content: "\ea11";
}
.ax-spell-checkax:before {
  content: "\ea12";
}
.ax-enterax:before {
  content: "\ea13";
}
.ax-exitax:before {
  content: "\ea14";
}
.ax-play2ax:before {
  content: "\ea15";
}
.ax-pauseax:before {
  content: "\ea16";
}
.ax-stopax:before {
  content: "\ea17";
}
.ax-previousax:before {
  content: "\ea18";
}
.ax-nextax:before {
  content: "\ea19";
}
.ax-backwardax:before {
  content: "\ea1a";
}
.ax-forward2ax:before {
  content: "\ea1b";
}
.ax-play3ax:before {
  content: "\ea1c";
}
.ax-pause2ax:before {
  content: "\ea1d";
}
.ax-stop2ax:before {
  content: "\ea1e";
}
.ax-backward2ax:before {
  content: "\ea1f";
}
.ax-forward3ax:before {
  content: "\ea20";
}
.ax-firstax:before {
  content: "\ea21";
}
.ax-lastax:before {
  content: "\ea22";
}
.ax-previous2ax:before {
  content: "\ea23";
}
.ax-next2ax:before {
  content: "\ea24";
}
.ax-ejectax:before {
  content: "\ea25";
}
.ax-volume-highax:before {
  content: "\ea26";
}
.ax-volume-mediumax:before {
  content: "\ea27";
}
.ax-volume-lowax:before {
  content: "\ea28";
}
.ax-volume-muteax:before {
  content: "\ea29";
}
.ax-volume-mute2ax:before {
  content: "\ea2a";
}
.ax-volume-increaseax:before {
  content: "\ea2b";
}
.ax-volume-decreaseax:before {
  content: "\ea2c";
}
.ax-loopax:before {
  content: "\ea2d";
}
.ax-loop2ax:before {
  content: "\ea2e";
}
.ax-infiniteax:before {
  content: "\ea2f";
}
.ax-shuffleax:before {
  content: "\ea30";
}
.ax-arrow-up-leftax:before {
  content: "\ea31";
}
.ax-arrow-upax:before {
  content: "\ea32";
}
.ax-arrow-up-rightax:before {
  content: "\ea33";
}
.ax-arrow-rightax:before {
  content: "\ea34";
}
.ax-arrow-down-rightax:before {
  content: "\ea35";
}
.ax-arrow-downax:before {
  content: "\ea36";
}
.ax-arrow-down-leftax:before {
  content: "\ea37";
}
.ax-arrow-leftax:before {
  content: "\ea38";
}
.ax-arrow-up-left2ax:before {
  content: "\ea39";
}
.ax-arrow-up2ax:before {
  content: "\ea3a";
}
.ax-arrow-up-right2ax:before {
  content: "\ea3b";
}
.ax-arrow-right2ax:before {
  content: "\ea3c";
}
.ax-arrow-down-right2ax:before {
  content: "\ea3d";
}
.ax-arrow-down2ax:before {
  content: "\ea3e";
}
.ax-arrow-down-left2ax:before {
  content: "\ea3f";
}
.ax-arrow-left2ax:before {
  content: "\ea40";
}
.ax-circle-upax:before {
  content: "\ea41";
}
.ax-circle-rightax:before {
  content: "\ea42";
}
.ax-circle-downax:before {
  content: "\ea43";
}
.ax-circle-leftax:before {
  content: "\ea44";
}
.ax-tabax:before {
  content: "\ea45";
}
.ax-move-upax:before {
  content: "\ea46";
}
.ax-move-downax:before {
  content: "\ea47";
}
.ax-sort-alpha-ascax:before {
  content: "\ea48";
}
.ax-sort-alpha-descax:before {
  content: "\ea49";
}
.ax-sort-numeric-ascax:before {
  content: "\ea4a";
}
.ax-sort-numberic-descax:before {
  content: "\ea4b";
}
.ax-sort-amount-ascax:before {
  content: "\ea4c";
}
.ax-sort-amount-descax:before {
  content: "\ea4d";
}
.ax-commandax:before {
  content: "\ea4e";
}
.ax-shiftax:before {
  content: "\ea4f";
}
.ax-ctrlax:before {
  content: "\ea50";
}
.ax-optax:before {
  content: "\ea51";
}
.ax-checkbox-checkedax:before {
  content: "\ea52";
}
.ax-checkbox-uncheckedax:before {
  content: "\ea53";
}
.ax-radio-checkedax:before {
  content: "\ea54";
}
.ax-radio-checked2ax:before {
  content: "\ea55";
}
.ax-radio-uncheckedax:before {
  content: "\ea56";
}
.ax-cropax:before {
  content: "\ea57";
}
.ax-make-groupax:before {
  content: "\ea58";
}
.ax-ungroupax:before {
  content: "\ea59";
}
.ax-scissorsax:before {
  content: "\ea5a";
}
.ax-filterax:before {
  content: "\ea5b";
}
.ax-fontax:before {
  content: "\ea5c";
}
.ax-ligatureax:before {
  content: "\ea5d";
}
.ax-ligature2ax:before {
  content: "\ea5e";
}
.ax-text-heightax:before {
  content: "\ea5f";
}
.ax-text-widthax:before {
  content: "\ea60";
}
.ax-font-sizeax:before {
  content: "\ea61";
}
.ax-boldax:before {
  content: "\ea62";
}
.ax-underlineax:before {
  content: "\ea63";
}
.ax-italicax:before {
  content: "\ea64";
}
.ax-strikethroughax:before {
  content: "\ea65";
}
.ax-omegaax:before {
  content: "\ea66";
}
.ax-sigmaax:before {
  content: "\ea67";
}
.ax-page-breakax:before {
  content: "\ea68";
}
.ax-superscriptax:before {
  content: "\ea69";
}
.ax-subscriptax:before {
  content: "\ea6a";
}
.ax-superscript2ax:before {
  content: "\ea6b";
}
.ax-subscript2ax:before {
  content: "\ea6c";
}
.ax-text-colorax:before {
  content: "\ea6d";
}
.ax-pagebreakax:before {
  content: "\ea6e";
}
.ax-clear-formattingax:before {
  content: "\ea6f";
}
.ax-tableax:before {
  content: "\ea70";
}
.ax-table2ax:before {
  content: "\ea71";
}
.ax-insert-templateax:before {
  content: "\ea72";
}
.ax-pilcrowax:before {
  content: "\ea73";
}
.ax-ltrax:before {
  content: "\ea74";
}
.ax-rtlax:before {
  content: "\ea75";
}
.ax-sectionax:before {
  content: "\ea76";
}
.ax-paragraph-leftax:before {
  content: "\ea77";
}
.ax-paragraph-centerax:before {
  content: "\ea78";
}
.ax-paragraph-rightax:before {
  content: "\ea79";
}
.ax-paragraph-justifyax:before {
  content: "\ea7a";
}
.ax-indent-increaseax:before {
  content: "\ea7b";
}
.ax-indent-decreaseax:before {
  content: "\ea7c";
}
.ax-shareax:before {
  content: "\ea7d";
}
.ax-new-tabax:before {
  content: "\ea7e";
}
.ax-embedax:before {
  content: "\ea7f";
}
.ax-embed2ax:before {
  content: "\ea80";
}
.ax-terminalax:before {
  content: "\ea81";
}
.ax-share2ax:before {
  content: "\ea82";
}
.ax-mailax:before {
  content: "\ea83";
}
.ax-mail2ax:before {
  content: "\ea84";
}
.ax-mail3ax:before {
  content: "\ea85";
}
.ax-mail4ax:before {
  content: "\ea86";
}
.ax-amazonax:before {
  content: "\ea87";
}
.ax-googleax:before {
  content: "\ea88";
}
.ax-google2ax:before {
  content: "\ea89";
}
.ax-google3ax:before {
  content: "\ea8a";
}
.ax-google-plusax:before {
  content: "\ea8b";
}
.ax-google-plus2ax:before {
  content: "\ea8c";
}
.ax-google-plus3ax:before {
  content: "\ea8d";
}
.ax-hangoutsax:before {
  content: "\ea8e";
}
.ax-google-driveax:before {
  content: "\ea8f";
}
.ax-facebookax:before {
  content: "\ea90";
}
.ax-facebook2ax:before {
  content: "\ea91";
}
.ax-instagramax:before {
  content: "\ea92";
}
.ax-whatsappax:before {
  content: "\ea93";
}
.ax-spotifyax:before {
  content: "\ea94";
}
.ax-telegramax:before {
  content: "\ea95";
}
.ax-twitterax:before {
  content: "\ea96";
}
.ax-vineax:before {
  content: "\ea97";
}
.ax-vkax:before {
  content: "\ea98";
}
.ax-renrenax:before {
  content: "\ea99";
}
.ax-sina-weiboax:before {
  content: "\ea9a";
}
.ax-rssax:before {
  content: "\ea9b";
}
.ax-rss2ax:before {
  content: "\ea9c";
}
.ax-youtubeax:before {
  content: "\ea9d";
}
.ax-youtube2ax:before {
  content: "\ea9e";
}
.ax-twitchax:before {
  content: "\ea9f";
}
.ax-vimeoax:before {
  content: "\eaa0";
}
.ax-vimeo2ax:before {
  content: "\eaa1";
}
.ax-lanyrdax:before {
  content: "\eaa2";
}
.ax-flickrax:before {
  content: "\eaa3";
}
.ax-flickr2ax:before {
  content: "\eaa4";
}
.ax-flickr3ax:before {
  content: "\eaa5";
}
.ax-flickr4ax:before {
  content: "\eaa6";
}
.ax-dribbbleax:before {
  content: "\eaa7";
}
.ax-behanceax:before {
  content: "\eaa8";
}
.ax-behance2ax:before {
  content: "\eaa9";
}
.ax-deviantartax:before {
  content: "\eaaa";
}
.ax-500pxax:before {
  content: "\eaab";
}
.ax-steamax:before {
  content: "\eaac";
}
.ax-steam2ax:before {
  content: "\eaad";
}
.ax-dropboxax:before {
  content: "\eaae";
}
.ax-onedriveax:before {
  content: "\eaaf";
}
.ax-githubax:before {
  content: "\eab0";
}
.ax-npmax:before {
  content: "\eab1";
}
.ax-basecampax:before {
  content: "\eab2";
}
.ax-trelloax:before {
  content: "\eab3";
}
.ax-wordpressax:before {
  content: "\eab4";
}
.ax-joomlaax:before {
  content: "\eab5";
}
.ax-elloax:before {
  content: "\eab6";
}
.ax-bloggerax:before {
  content: "\eab7";
}
.ax-blogger2ax:before {
  content: "\eab8";
}
.ax-tumblrax:before {
  content: "\eab9";
}
.ax-tumblr2ax:before {
  content: "\eaba";
}
.ax-yahooax:before {
  content: "\eabb";
}
.ax-yahoo2ax:before {
  content: "\eabc";
}
.ax-tuxax:before {
  content: "\eabd";
}
.ax-appleincax:before {
  content: "\eabe";
}
.ax-finderax:before {
  content: "\eabf";
}
.ax-androidax:before {
  content: "\eac0";
}
.ax-windowsax:before {
  content: "\eac1";
}
.ax-windows8ax:before {
  content: "\eac2";
}
.ax-soundcloudax:before {
  content: "\eac3";
}
.ax-soundcloud2ax:before {
  content: "\eac4";
}
.ax-skypeax:before {
  content: "\eac5";
}
.ax-redditax:before {
  content: "\eac6";
}
.ax-hackernewsax:before {
  content: "\eac7";
}
.ax-wikipediaax:before {
  content: "\eac8";
}
.ax-linkedinax:before {
  content: "\eac9";
}
.ax-linkedin2ax:before {
  content: "\eaca";
}
.ax-lastfmax:before {
  content: "\eacb";
}
.ax-lastfm2ax:before {
  content: "\eacc";
}
.ax-deliciousax:before {
  content: "\eacd";
}
.ax-stumbleuponax:before {
  content: "\eace";
}
.ax-stumbleupon2ax:before {
  content: "\eacf";
}
.ax-stackoverflowax:before {
  content: "\ead0";
}
.ax-pinterestax:before {
  content: "\ead1";
}
.ax-pinterest2ax:before {
  content: "\ead2";
}
.ax-xingax:before {
  content: "\ead3";
}
.ax-xing2ax:before {
  content: "\ead4";
}
.ax-flattrax:before {
  content: "\ead5";
}
.ax-foursquareax:before {
  content: "\ead6";
}
.ax-yelpax:before {
  content: "\ead7";
}
.ax-paypalax:before {
  content: "\ead8";
}
.ax-chromeax:before {
  content: "\ead9";
}
.ax-firefoxax:before {
  content: "\eada";
}
.ax-IEax:before {
  content: "\eadb";
}
.ax-edgeax:before {
  content: "\eadc";
}
.ax-safariax:before {
  content: "\eadd";
}
.ax-operaax:before {
  content: "\eade";
}
.ax-file-pdfax:before {
  content: "\eadf";
}
.ax-file-openofficeax:before {
  content: "\eae0";
}
.ax-file-wordax:before {
  content: "\eae1";
}
.ax-file-excelax:before {
  content: "\eae2";
}
.ax-libreofficeax:before {
  content: "\eae3";
}
.ax-html-fiveax:before {
  content: "\eae4";
}
.ax-html-five2ax:before {
  content: "\eae5";
}
.ax-css3ax:before {
  content: "\eae6";
}
.ax-gitax:before {
  content: "\eae7";
}
.ax-codepenax:before {
  content: "\eae8";
}
.ax-svgax:before {
  content: "\eae9";
}
.ax-IcoMoonax:before {
  content: "\eaea";
}