@font-face {
  font-family: 'axcon';
  src:  url('axcon/axcon.eot?ft27y5');
  src:  url('axcon/axcon.eot?ft27y5#iefix') format('embedded-opentype'),
    url('axcon/axcon.ttf?ft27y5') format('truetype'),
    url('axcon/axcon.woff?ft27y5') format('woff'),
    url('axcon/axcon.svg?ft27y5#axcon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'axcon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ax-box:before {
  content: "\1f4e8";
}
.ax-write:before {
  content: "\1f4e9";
}
.ax-clock-1:before {
  content: "\1f4ea";
}
.ax-reply-1:before {
  content: "\1f4eb";
}
.ax-reply-all:before {
  content: "\1f4ec";
}
.ax-forward-1:before {
  content: "\1f4ed";
}
.ax-flag-1:before {
  content: "\1f4ee";
}
.ax-search-1:before {
  content: "\1f4ef";
}
.ax-trash:before {
  content: "\1f4f0";
}
.ax-envelope:before {
  content: "\e909";
}
.ax-bubble-1:before {
  content: "\e90a";
}
.ax-bubbles-1:before {
  content: "\e90b";
}
.ax-user-1:before {
  content: "\e90c";
}
.ax-users-1:before {
  content: "\e90d";
}
.ax-cloud-1:before {
  content: "\e90e";
}
.ax-download-1:before {
  content: "\e90f";
}
.ax-upload-1:before {
  content: "\e910";
}
.ax-rain:before {
  content: "\e911";
}
.ax-sun-1:before {
  content: "\e912";
}
.ax-moon:before {
  content: "\e913";
}
.ax-bell-1:before {
  content: "\e914";
}
.ax-folder-1:before {
  content: "\e915";
}
.ax-pin:before {
  content: "\e916";
}
.ax-sound:before {
  content: "\e917";
}
.ax-microphone:before {
  content: "\e918";
}
.ax-camera-1:before {
  content: "\e919";
}
.ax-image-1:before {
  content: "\e91a";
}
.ax-cog-1:before {
  content: "\e91b";
}
.ax-calendar-1:before {
  content: "\e91c";
}
.ax-book-1:before {
  content: "\e91d";
}
.ax-map-marker:before {
  content: "\e91e";
}
.ax-store:before {
  content: "\e91f";
}
.ax-support:before {
  content: "\e920";
}
.ax-tag:before {
  content: "\e921";
}
.ax-heart-1:before {
  content: "\e922";
}
.ax-video-camera-1:before {
  content: "\e923";
}
.ax-trophy-1:before {
  content: "\e924";
}
.ax-cart-1:before {
  content: "\e925";
}
.ax-eye-1:before {
  content: "\e926";
}
.ax-cancel:before {
  content: "\e927";
}
.ax-chart:before {
  content: "\e928";
}
.ax-target-1:before {
  content: "\e929";
}
.ax-printer-1:before {
  content: "\e92a";
}
.ax-location-1:before {
  content: "\e92b";
}
.ax-bookmark-1:before {
  content: "\e92c";
}
.ax-monitor:before {
  content: "\e92d";
}
.ax-cross-1:before {
  content: "\e92e";
}
.ax-plus-1:before {
  content: "\e92f";
}
.ax-left:before {
  content: "\e930";
}
.ax-up:before {
  content: "\e931";
}
.ax-browser:before {
  content: "\e932";
}
.ax-windows-1:before {
  content: "\e933";
}
.ax-switch-1:before {
  content: "\e934";
}
.ax-dashboard:before {
  content: "\e935";
}
.ax-play-1:before {
  content: "\e936";
}
.ax-fast-forward:before {
  content: "\e937";
}
.ax-next-1:before {
  content: "\e938";
}
.ax-refresh:before {
  content: "\e939";
}
.ax-film-1:before {
  content: "\e93a";
}
.ax-home-1:before {
  content: "\1f4f1";
}
.ax-home:before {
  content: "\1f300";
}
.ax-home-2:before {
  content: "\1f301";
}
.ax-home-3:before {
  content: "\1f302";
}
.ax-office:before {
  content: "\1f303";
}
.ax-newspaper:before {
  content: "\1f304";
}
.ax-pencil:before {
  content: "\1f305";
}
.ax-pencil-2:before {
  content: "\1f306";
}
.ax-quill:before {
  content: "\1f307";
}
.ax-pen:before {
  content: "\1f308";
}
.ax-blog:before {
  content: "\1f309";
}
.ax-eyedropper:before {
  content: "\1f30a";
}
.ax-droplet:before {
  content: "\1f30b";
}
.ax-paint-format:before {
  content: "\1f30c";
}
.ax-image:before {
  content: "\1f30d";
}
.ax-images:before {
  content: "\1f30e";
}
.ax-camera:before {
  content: "\1f30f";
}
.ax-headphones:before {
  content: "\1f310";
}
.ax-music:before {
  content: "\1f311";
}
.ax-play:before {
  content: "\1f312";
}
.ax-film:before {
  content: "\1f313";
}
.ax-video-camera:before {
  content: "\1f314";
}
.ax-dice:before {
  content: "\1f315";
}
.ax-pacman:before {
  content: "\1f316";
}
.ax-spades:before {
  content: "\1f317";
}
.ax-clubs:before {
  content: "\1f318";
}
.ax-diamonds:before {
  content: "\1f319";
}
.ax-bullhorn:before {
  content: "\1f31a";
}
.ax-connection:before {
  content: "\1f31b";
}
.ax-podcast:before {
  content: "\1f31c";
}
.ax-feed:before {
  content: "\1f31d";
}
.ax-mic:before {
  content: "\1f31e";
}
.ax-book:before {
  content: "\1f31f";
}
.ax-books:before {
  content: "\1f320";
}
.ax-library:before {
  content: "\1f321";
}
.ax-file-text:before {
  content: "\1f322";
}
.ax-profile:before {
  content: "\1f323";
}
.ax-file-empty:before {
  content: "\1f324";
}
.ax-files-empty:before {
  content: "\1f325";
}
.ax-file-text2:before {
  content: "\1f326";
}
.ax-file-picture:before {
  content: "\1f327";
}
.ax-file-music:before {
  content: "\1f328";
}
.ax-file-play:before {
  content: "\1f329";
}
.ax-file-video:before {
  content: "\1f32a";
}
.ax-file-zip:before {
  content: "\1f32b";
}
.ax-copy:before {
  content: "\1f32c";
}
.ax-paste:before {
  content: "\1f32d";
}
.ax-stack:before {
  content: "\1f32e";
}
.ax-folder:before {
  content: "\1f32f";
}
.ax-folder-open:before {
  content: "\1f330";
}
.ax-folder-plus:before {
  content: "\1f331";
}
.ax-folder-minus:before {
  content: "\1f332";
}
.ax-folder-download:before {
  content: "\1f333";
}
.ax-folder-upload:before {
  content: "\1f334";
}
.ax-price-tag:before {
  content: "\1f335";
}
.ax-price-tags:before {
  content: "\1f336";
}
.ax-barcode:before {
  content: "\1f337";
}
.ax-qrcode:before {
  content: "\1f338";
}
.ax-ticket:before {
  content: "\1f339";
}
.ax-cart:before {
  content: "\1f33a";
}
.ax-coin-dollar:before {
  content: "\1f33b";
}
.ax-coin-euro:before {
  content: "\1f33c";
}
.ax-coin-pound:before {
  content: "\1f33d";
}
.ax-coin-yen:before {
  content: "\1f33e";
}
.ax-credit-card:before {
  content: "\1f33f";
}
.ax-calculator:before {
  content: "\1f340";
}
.ax-lifebuoy:before {
  content: "\1f341";
}
.ax-phone:before {
  content: "\1f342";
}
.ax-phone-hang-up:before {
  content: "\1f343";
}
.ax-address-book:before {
  content: "\1f344";
}
.ax-envelop:before {
  content: "\1f345";
}
.ax-pushpin:before {
  content: "\1f346";
}
.ax-location:before {
  content: "\1f347";
}
.ax-location2:before {
  content: "\1f348";
}
.ax-compass:before {
  content: "\1f349";
}
.ax-compass-2:before {
  content: "\1f34a";
}
.ax-map:before {
  content: "\1f34b";
}
.ax-map-2:before {
  content: "\1f34c";
}
.ax-history:before {
  content: "\1f34d";
}
.ax-clock:before {
  content: "\1f34e";
}
.ax-clock-2:before {
  content: "\1f34f";
}
.ax-alarm:before {
  content: "\1f350";
}
.ax-bell:before {
  content: "\1f351";
}
.ax-stopwatch:before {
  content: "\1f352";
}
.ax-calendar:before {
  content: "\1f353";
}
.ax-printer:before {
  content: "\1f354";
}
.ax-keyboard:before {
  content: "\1f355";
}
.ax-display:before {
  content: "\1f356";
}
.ax-laptop:before {
  content: "\1f357";
}
.ax-mobile:before {
  content: "\1f358";
}
.ax-mobile-2:before {
  content: "\1f359";
}
.ax-tablet:before {
  content: "\1f35a";
}
.ax-tv:before {
  content: "\1f35b";
}
.ax-drawer:before {
  content: "\1f35c";
}
.ax-drawer-2:before {
  content: "\1f35d";
}
.ax-box-add:before {
  content: "\1f35e";
}
.ax-box-remove:before {
  content: "\1f35f";
}
.ax-download:before {
  content: "\1f360";
}
.ax-upload:before {
  content: "\1f361";
}
.ax-floppy-disk:before {
  content: "\1f362";
}
.ax-drive:before {
  content: "\1f363";
}
.ax-database:before {
  content: "\1f364";
}
.ax-undo:before {
  content: "\1f365";
}
.ax-redo:before {
  content: "\1f366";
}
.ax-undo-2:before {
  content: "\1f367";
}
.ax-redo-2:before {
  content: "\1f368";
}
.ax-forward:before {
  content: "\1f369";
}
.ax-reply:before {
  content: "\1f36a";
}
.ax-bubble:before {
  content: "\1f36b";
}
.ax-bubbles:before {
  content: "\1f36c";
}
.ax-bubbles-2:before {
  content: "\1f36d";
}
.ax-bubble-2:before {
  content: "\1f36e";
}
.ax-bubbles-3:before {
  content: "\1f36f";
}
.ax-bubbles-4:before {
  content: "\1f370";
}
.ax-user:before {
  content: "\1f371";
}
.ax-users:before {
  content: "\1f372";
}
.ax-user-plus:before {
  content: "\1f373";
}
.ax-user-minus:before {
  content: "\1f374";
}
.ax-user-check:before {
  content: "\1f375";
}
.ax-user-tie:before {
  content: "\1f376";
}
.ax-quotes-left:before {
  content: "\1f377";
}
.ax-quotes-right:before {
  content: "\1f378";
}
.ax-hour-glass:before {
  content: "\1f379";
}
.ax-spinner:before {
  content: "\1f37a";
}
.ax-spinner-2:before {
  content: "\1f37b";
}
.ax-spinner-3:before {
  content: "\1f37c";
}
.ax-spinner-4:before {
  content: "\1f37d";
}
.ax-spinner-5:before {
  content: "\1f37e";
}
.ax-spinner-6:before {
  content: "\1f37f";
}
.ax-spinner-7:before {
  content: "\1f380";
}
.ax-spinner-8:before {
  content: "\1f381";
}
.ax-spinner-9:before {
  content: "\1f382";
}
.ax-spinner-10:before {
  content: "\1f383";
}
.ax-spinner-11:before {
  content: "\1f384";
}
.ax-binoculars:before {
  content: "\1f385";
}
.ax-search:before {
  content: "\1f386";
}
.ax-zoom-in:before {
  content: "\1f387";
}
.ax-zoom-out:before {
  content: "\1f388";
}
.ax-enlarge:before {
  content: "\1f389";
}
.ax-shrink:before {
  content: "\1f38a";
}
.ax-enlarge-2:before {
  content: "\1f38b";
}
.ax-shrink-2:before {
  content: "\1f38c";
}
.ax-key:before {
  content: "\1f38d";
}
.ax-key-2:before {
  content: "\1f38e";
}
.ax-lock:before {
  content: "\1f38f";
}
.ax-unlocked:before {
  content: "\e990";
}
.ax-wrench:before {
  content: "\1f390";
}
.ax-equalizer:before {
  content: "\1f391";
}
.ax-equalizer-2:before {
  content: "\1f392";
}
.ax-cog:before {
  content: "\1f393";
}
.ax-cogs:before {
  content: "\1f394";
}
.ax-hammer:before {
  content: "\1f395";
}
.ax-magic-wand:before {
  content: "\1f396";
}
.ax-aid-kit:before {
  content: "\1f397";
}
.ax-bug:before {
  content: "\1f398";
}
.ax-pie-chart:before {
  content: "\1f399";
}
.ax-stats-dots:before {
  content: "\1f39a";
}
.ax-stats-bars:before {
  content: "\1f39b";
}
.ax-stats-bars-2:before {
  content: "\1f39c";
}
.ax-trophy:before {
  content: "\1f39d";
}
.ax-gift:before {
  content: "\1f39e";
}
.ax-glass:before {
  content: "\1f39f";
}
.ax-glass-2:before {
  content: "\1f3a0";
}
.ax-mug:before {
  content: "\1f3a1";
}
.ax-spoon-knife:before {
  content: "\1f3a2";
}
.ax-leaf:before {
  content: "\1f3a3";
}
.ax-rocket:before {
  content: "\1f3a4";
}
.ax-meter:before {
  content: "\1f3a5";
}
.ax-meter-2:before {
  content: "\1f3a6";
}
.ax-hammer-2:before {
  content: "\1f3a7";
}
.ax-fire:before {
  content: "\1f3a8";
}
.ax-lab:before {
  content: "\1f3a9";
}
.ax-magnet:before {
  content: "\1f3aa";
}
.ax-bin:before {
  content: "\1f3ab";
}
.ax-bin-2:before {
  content: "\1f3ac";
}
.ax-briefcase:before {
  content: "\1f3ad";
}
.ax-airplane:before {
  content: "\1f3ae";
}
.ax-truck:before {
  content: "\1f3af";
}
.ax-road:before {
  content: "\1f3b0";
}
.ax-accessibility:before {
  content: "\1f3b1";
}
.ax-target:before {
  content: "\1f3b2";
}
.ax-shield:before {
  content: "\1f3b3";
}
.ax-power:before {
  content: "\1f3b4";
}
.ax-switch:before {
  content: "\1f3b5";
}
.ax-power-cord:before {
  content: "\1f3b6";
}
.ax-clipboard:before {
  content: "\1f3b7";
}
.ax-list-numbered:before {
  content: "\1f3b8";
}
.ax-list:before {
  content: "\1f3b9";
}
.ax-list-2:before {
  content: "\1f3ba";
}
.ax-tree:before {
  content: "\1f3bb";
}
.ax-menu:before {
  content: "\1f3bc";
}
.ax-menu-2:before {
  content: "\1f3bd";
}
.ax-menu-3:before {
  content: "\1f3be";
}
.ax-menu-4:before {
  content: "\1f3bf";
}
.ax-cloud:before {
  content: "\1f3c0";
}
.ax-cloud-download:before {
  content: "\1f3c1";
}
.ax-cloud-upload:before {
  content: "\1f3c2";
}
.ax-cloud-check:before {
  content: "\1f3c3";
}
.ax-download-2:before {
  content: "\1f3c4";
}
.ax-upload-2:before {
  content: "\1f3c5";
}
.ax-download-3:before {
  content: "\1f3c6";
}
.ax-upload-3:before {
  content: "\1f3c7";
}
.ax-sphere:before {
  content: "\1f3c8";
}
.ax-earth:before {
  content: "\1f3c9";
}
.ax-link:before {
  content: "\1f3ca";
}
.ax-flag:before {
  content: "\1f3cb";
}
.ax-attachment:before {
  content: "\1f3cc";
}
.ax-eye:before {
  content: "\1f3cd";
}
.ax-eye-plus:before {
  content: "\1f3ce";
}
.ax-eye-minus:before {
  content: "\1f3cf";
}
.ax-eye-blocked:before {
  content: "\1f3d0";
}
.ax-bookmark:before {
  content: "\1f3d1";
}
.ax-bookmarks:before {
  content: "\1f3d2";
}
.ax-sun:before {
  content: "\1f3d3";
}
.ax-contrast:before {
  content: "\1f3d4";
}
.ax-brightness-contrast:before {
  content: "\1f3d5";
}
.ax-star-empty:before {
  content: "\1f3d6";
}
.ax-star-half:before {
  content: "\1f3d7";
}
.ax-star-full:before {
  content: "\1f3d8";
}
.ax-heart:before {
  content: "\1f3d9";
}
.ax-heart-broken:before {
  content: "\1f3da";
}
.ax-man:before {
  content: "\1f3db";
}
.ax-woman:before {
  content: "\1f3dc";
}
.ax-man-woman:before {
  content: "\1f3dd";
}
.ax-happy:before {
  content: "\1f3de";
}
.ax-happy-2:before {
  content: "\1f3df";
}
.ax-smile:before {
  content: "\1f3e0";
}
.ax-smile-2:before {
  content: "\1f3e1";
}
.ax-tongue:before {
  content: "\1f3e2";
}
.ax-tongue-2:before {
  content: "\1f3e3";
}
.ax-sad:before {
  content: "\1f3e4";
}
.ax-sad-2:before {
  content: "\1f3e5";
}
.ax-wink:before {
  content: "\1f3e6";
}
.ax-wink-2:before {
  content: "\1f3e7";
}
.ax-grin:before {
  content: "\1f3e8";
}
.ax-grin-2:before {
  content: "\1f3e9";
}
.ax-cool:before {
  content: "\1f3ea";
}
.ax-cool-2:before {
  content: "\1f3eb";
}
.ax-angry:before {
  content: "\1f3ec";
}
.ax-angry-2:before {
  content: "\1f3ed";
}
.ax-evil:before {
  content: "\1f3ee";
}
.ax-evil-2:before {
  content: "\1f3ef";
}
.ax-shocked:before {
  content: "\1f3f0";
}
.ax-shocked-2:before {
  content: "\1f3f1";
}
.ax-baffled:before {
  content: "\1f3f2";
}
.ax-baffled-2:before {
  content: "\1f3f3";
}
.ax-confused:before {
  content: "\1f3f4";
}
.ax-confused-2:before {
  content: "\1f3f5";
}
.ax-neutral:before {
  content: "\1f3f6";
}
.ax-neutral-2:before {
  content: "\1f3f7";
}
.ax-hipster:before {
  content: "\1f3f8";
}
.ax-hipster-2:before {
  content: "\1f3f9";
}
.ax-wondering:before {
  content: "\1f3fa";
}
.ax-wondering-2:before {
  content: "\1f3fb";
}
.ax-sleepy:before {
  content: "\1f3fc";
}
.ax-sleepy-2:before {
  content: "\1f3fd";
}
.ax-frustrated:before {
  content: "\1f3fe";
}
.ax-frustrated-2:before {
  content: "\1f3ff";
}
.ax-crying:before {
  content: "\1f400";
}
.ax-crying-2:before {
  content: "\1f401";
}
.ax-point-up:before {
  content: "\1f402";
}
.ax-point-right:before {
  content: "\1f403";
}
.ax-point-down:before {
  content: "\1f404";
}
.ax-point-left:before {
  content: "\1f405";
}
.ax-warning:before {
  content: "\1f406";
}
.ax-notification:before {
  content: "\1f407";
}
.ax-question:before {
  content: "\1f408";
}
.ax-plus:before {
  content: "\1f409";
}
.ax-minus:before {
  content: "\1f40a";
}
.ax-info:before {
  content: "\1f40b";
}
.ax-cancel-circle:before {
  content: "\1f40c";
}
.ax-blocked:before {
  content: "\1f40d";
}
.ax-cross:before {
  content: "\1f40e";
}
.ax-checkmark:before {
  content: "\1f40f";
}
.ax-checkmark-2:before {
  content: "\1f410";
}
.ax-spell-check:before {
  content: "\1f411";
}
.ax-enter:before {
  content: "\1f412";
}
.ax-exit:before {
  content: "\1f413";
}
.ax-play-2:before {
  content: "\1f414";
}
.ax-pause:before {
  content: "\1f415";
}
.ax-stop:before {
  content: "\1f416";
}
.ax-previous:before {
  content: "\1f417";
}
.ax-next:before {
  content: "\1f418";
}
.ax-backward:before {
  content: "\1f419";
}
.ax-forward-2:before {
  content: "\1f41a";
}
.ax-play-3:before {
  content: "\1f41b";
}
.ax-pause-2:before {
  content: "\1f41c";
}
.ax-stop-2:before {
  content: "\1f41d";
}
.ax-backward-2:before {
  content: "\1f41e";
}
.ax-forward-3:before {
  content: "\1f41f";
}
.ax-first:before {
  content: "\1f420";
}
.ax-last:before {
  content: "\1f421";
}
.ax-previous-2:before {
  content: "\1f422";
}
.ax-next-2:before {
  content: "\1f423";
}
.ax-eject:before {
  content: "\1f424";
}
.ax-volume-high:before {
  content: "\1f425";
}
.ax-volume-medium:before {
  content: "\1f426";
}
.ax-volume-low:before {
  content: "\1f427";
}
.ax-volume-mute:before {
  content: "\1f428";
}
.ax-volume-mute-2:before {
  content: "\1f429";
}
.ax-volume-increase:before {
  content: "\1f42a";
}
.ax-volume-decrease:before {
  content: "\1f42b";
}
.ax-loop:before {
  content: "\1f42c";
}
.ax-loop-2:before {
  content: "\1f42d";
}
.ax-infinite:before {
  content: "\1f42e";
}
.ax-shuffle:before {
  content: "\1f42f";
}
.ax-arrow-up-left:before {
  content: "\1f430";
}
.ax-arrow-up:before {
  content: "\1f431";
}
.ax-arrow-up-right:before {
  content: "\1f432";
}
.ax-arrow-right:before {
  content: "\1f433";
}
.ax-arrow-down-right:before {
  content: "\1f434";
}
.ax-arrow-down:before {
  content: "\1f435";
}
.ax-arrow-down-left:before {
  content: "\1f436";
}
.ax-arrow-left:before {
  content: "\1f437";
}
.ax-arrow-up-left-2:before {
  content: "\1f438";
}
.ax-arrow-up-2:before {
  content: "\1f439";
}
.ax-arrow-up-right-2:before {
  content: "\ea3b";
}
.ax-arrow-right-2:before {
  content: "\1f43a";
}
.ax-arrow-down-right-2:before {
  content: "\1f43b";
}
.ax-arrow-down-2:before {
  content: "\1f43c";
}
.ax-arrow-down-left-2:before {
  content: "\1f43d";
}
.ax-arrow-left-2:before {
  content: "\1f43e";
}
.ax-circle-up:before {
  content: "\1f43f";
}
.ax-circle-right:before {
  content: "\1f440";
}
.ax-circle-down:before {
  content: "\1f441";
}
.ax-circle-left:before {
  content: "\1f442";
}
.ax-tab:before {
  content: "\1f443";
}
.ax-move-up:before {
  content: "\1f444";
}
.ax-move-down:before {
  content: "\1f445";
}
.ax-sort-alpha-asc:before {
  content: "\1f446";
}
.ax-sort-alpha-desc:before {
  content: "\1f447";
}
.ax-sort-numeric-asc:before {
  content: "\1f448";
}
.ax-sort-numberic-desc:before {
  content: "\1f449";
}
.ax-sort-amount-asc:before {
  content: "\1f44a";
}
.ax-sort-amount-desc:before {
  content: "\1f44b";
}
.ax-command:before {
  content: "\1f44c";
}
.ax-shift:before {
  content: "\1f44d";
}
.ax-ctrl:before {
  content: "\1f44e";
}
.ax-opt:before {
  content: "\1f44f";
}
.ax-checkbox-checked:before {
  content: "\1f450";
}
.ax-checkbox-unchecked:before {
  content: "\1f451";
}
.ax-radio-checked:before {
  content: "\1f452";
}
.ax-radio-checked-2:before {
  content: "\1f453";
}
.ax-radio-unchecked:before {
  content: "\1f454";
}
.ax-crop:before {
  content: "\1f455";
}
.ax-make-group:before {
  content: "\1f456";
}
.ax-ungroup:before {
  content: "\1f457";
}
.ax-scissors:before {
  content: "\1f458";
}
.ax-filter:before {
  content: "\1f459";
}
.ax-font:before {
  content: "\1f45a";
}
.ax-ligature:before {
  content: "\1f45b";
}
.ax-ligature-2:before {
  content: "\1f45c";
}
.ax-text-height:before {
  content: "\1f45d";
}
.ax-text-width:before {
  content: "\1f45e";
}
.ax-font-size:before {
  content: "\1f45f";
}
.ax-bold:before {
  content: "\1f460";
}
.ax-underline:before {
  content: "\1f461";
}
.ax-italic:before {
  content: "\1f462";
}
.ax-strikethrough:before {
  content: "\1f463";
}
.ax-omega:before {
  content: "\1f464";
}
.ax-sigma:before {
  content: "\1f465";
}
.ax-page-break:before {
  content: "\1f466";
}
.ax-superscript:before {
  content: "\1f467";
}
.ax-subscript:before {
  content: "\1f468";
}
.ax-superscript-2:before {
  content: "\1f469";
}
.ax-subscript-2:before {
  content: "\1f46a";
}
.ax-text-color:before {
  content: "\1f46b";
}
.ax-pagebreak:before {
  content: "\1f46c";
}
.ax-clear-formatting:before {
  content: "\1f46d";
}
.ax-table:before {
  content: "\1f46e";
}
.ax-table2:before {
  content: "\1f46f";
}
.ax-insert-template:before {
  content: "\1f470";
}
.ax-pilcrow:before {
  content: "\1f471";
}
.ax-ltr:before {
  content: "\1f472";
}
.ax-rtl:before {
  content: "\1f473";
}
.ax-section:before {
  content: "\1f474";
}
.ax-paragraph-left:before {
  content: "\1f475";
}
.ax-paragraph-center:before {
  content: "\1f476";
}
.ax-paragraph-right:before {
  content: "\1f477";
}
.ax-paragraph-justify:before {
  content: "\1f478";
}
.ax-indent-increase:before {
  content: "\1f479";
}
.ax-indent-decrease:before {
  content: "\1f47a";
}
.ax-share:before {
  content: "\1f47b";
}
.ax-new-tab:before {
  content: "\1f47c";
}
.ax-embed:before {
  content: "\1f47d";
}
.ax-embed-2:before {
  content: "\1f47e";
}
.ax-terminal:before {
  content: "\1f47f";
}
.ax-share-2:before {
  content: "\1f480";
}
.ax-mail:before {
  content: "\1f481";
}
.ax-mail-2:before {
  content: "\1f482";
}
.ax-mail-3:before {
  content: "\1f483";
}
.ax-mail-4:before {
  content: "\1f484";
}
.ax-amazon:before {
  content: "\1f485";
}
.ax-google:before {
  content: "\1f486";
}
.ax-google-2:before {
  content: "\1f487";
}
.ax-google-3:before {
  content: "\1f488";
}
.ax-google-plus:before {
  content: "\1f489";
}
.ax-google-plus-2:before {
  content: "\1f48a";
}
.ax-google-plus-3:before {
  content: "\1f48b";
}
.ax-hangouts:before {
  content: "\1f48c";
}
.ax-google-drive:before {
  content: "\1f48d";
}
.ax-facebook:before {
  content: "\1f48e";
}
.ax-facebook-2:before {
  content: "\1f48f";
}
.ax-instagram:before {
  content: "\1f490";
}
.ax-whatsapp:before {
  content: "\1f491";
}
.ax-spotify:before {
  content: "\1f492";
}
.ax-telegram:before {
  content: "\1f493";
}
.ax-twitter:before {
  content: "\1f494";
}
.ax-vine:before {
  content: "\1f495";
}
.ax-vk:before {
  content: "\1f496";
}
.ax-renren:before {
  content: "\1f497";
}
.ax-sina-weibo:before {
  content: "\1f498";
}
.ax-rss:before {
  content: "\1f499";
}
.ax-rss-2:before {
  content: "\1f49a";
}
.ax-youtube:before {
  content: "\1f49b";
}
.ax-youtube-2:before {
  content: "\1f49c";
}
.ax-twitch:before {
  content: "\1f49d";
}
.ax-vimeo:before {
  content: "\1f49e";
}
.ax-vimeo-2:before {
  content: "\1f49f";
}
.ax-lanyrd:before {
  content: "\1f4a0";
}
.ax-flickr:before {
  content: "\1f4a1";
}
.ax-flickr-2:before {
  content: "\1f4a2";
}
.ax-flickr-3:before {
  content: "\1f4a3";
}
.ax-flickr-4:before {
  content: "\1f4a4";
}
.ax-dribbble:before {
  content: "\1f4a5";
}
.ax-behance:before {
  content: "\1f4a6";
}
.ax-behance-2:before {
  content: "\1f4a7";
}
.ax-deviantart:before {
  content: "\1f4a8";
}
.ax-500px:before {
  content: "\1f4a9";
}
.ax-steam:before {
  content: "\1f4aa";
}
.ax-steam-2:before {
  content: "\1f4ab";
}
.ax-dropbox:before {
  content: "\1f4ac";
}
.ax-onedrive:before {
  content: "\1f4ad";
}
.ax-github:before {
  content: "\1f4ae";
}
.ax-npm:before {
  content: "\1f4af";
}
.ax-basecamp:before {
  content: "\1f4b0";
}
.ax-trello:before {
  content: "\1f4b1";
}
.ax-wordpress:before {
  content: "\1f4b2";
}
.ax-joomla:before {
  content: "\1f4b3";
}
.ax-ello:before {
  content: "\1f4b4";
}
.ax-blogger:before {
  content: "\1f4b5";
}
.ax-blogger-2:before {
  content: "\1f4b6";
}
.ax-tumblr:before {
  content: "\1f4b7";
}
.ax-tumblr-2:before {
  content: "\1f4b8";
}
.ax-yahoo:before {
  content: "\1f4b9";
}
.ax-yahoo-2:before {
  content: "\1f4ba";
}
.ax-tux:before {
  content: "\1f4bb";
}
.ax-appleinc:before {
  content: "\1f4bc";
}
.ax-finder:before {
  content: "\1f4bd";
}
.ax-android:before {
  content: "\1f4be";
}
.ax-windows:before {
  content: "\1f4bf";
}
.ax-windows8:before {
  content: "\1f4c0";
}
.ax-soundcloud:before {
  content: "\1f4c1";
}
.ax-soundcloud-2:before {
  content: "\1f4c2";
}
.ax-skype:before {
  content: "\1f4c3";
}
.ax-reddit:before {
  content: "\1f4c4";
}
.ax-hackernews:before {
  content: "\1f4c5";
}
.ax-wikipedia:before {
  content: "\1f4c6";
}
.ax-linkedin:before {
  content: "\1f4c7";
}
.ax-linkedin-2:before {
  content: "\1f4c8";
}
.ax-lastfm:before {
  content: "\1f4c9";
}
.ax-lastfm-2:before {
  content: "\1f4ca";
}
.ax-delicious:before {
  content: "\1f4cb";
}
.ax-stumbleupon:before {
  content: "\1f4cc";
}
.ax-stumbleupon-2:before {
  content: "\1f4cd";
}
.ax-stackoverflow:before {
  content: "\1f4ce";
}
.ax-pinterest:before {
  content: "\1f4cf";
}
.ax-pinterest-2:before {
  content: "\1f4d0";
}
.ax-xing:before {
  content: "\1f4d1";
}
.ax-xing-2:before {
  content: "\1f4d2";
}
.ax-flattr:before {
  content: "\1f4d3";
}
.ax-foursquare:before {
  content: "\1f4d4";
}
.ax-yelp:before {
  content: "\1f4d5";
}
.ax-paypal:before {
  content: "\1f4d6";
}
.ax-chrome:before {
  content: "\1f4d7";
}
.ax-firefox:before {
  content: "\1f4d8";
}
.ax-IE:before {
  content: "\1f4d9";
}
.ax-edge:before {
  content: "\1f4da";
}
.ax-safari:before {
  content: "\1f4db";
}
.ax-opera:before {
  content: "\1f4dc";
}
.ax-file-pdf:before {
  content: "\1f4dd";
}
.ax-file-openoffice:before {
  content: "\1f4de";
}
.ax-file-word:before {
  content: "\1f4df";
}
.ax-file-excel:before {
  content: "\1f4e0";
}
.ax-libreoffice:before {
  content: "\1f4e1";
}
.ax-html-five:before {
  content: "\1f4e2";
}
.ax-html-five-2:before {
  content: "\1f4e3";
}
.ax-css3:before {
  content: "\1f4e4";
}
.ax-git:before {
  content: "\1f4e5";
}
.ax-codepen:before {
  content: "\1f4e6";
}
.ax-svg:before {
  content: "\1f4e7";
}